<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gobble Gobble</title>
  </head>
  <body>
    <h1>welcome to Gobble</h1>
    {{user}}
    <a href="/gobble/login">Log In Here!</a>
  </body>
</html>
